/* Fountain Code Mirror */

.fountain-source-view>.CodeMirror-wrap>.CodeMirror-scroll {
    padding: 20px !important;
    position: unset;
}

[data-type="fountain"] > .view-content .cm-editor {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    overflow-y: hidden;
    vertical-align: baseline;
}

[data-type="fountain"] > .view-content .cm-editor {
    display: block;
}


/* Styles for Screenplain */

[data-type="fountain"] > .view-content .cm-editor {
    margin: auto;
    /* width: 60%; */
    text-align: left;
    font: 12pt 'Courier Final Draft', 'Courier Screenplay', Courier;
    padding: 0pt 0 0 0pt;
    position: static;
}



[data-type="fountain"] > .view-content .cm-editor .screenplay-header {
	text-align: center;
	font-weight: 600 !important;
	font-size: 1.25em;
}

[data-type="fountain"] > .view-content .cm-editor .screenplay-footer {
    margin-top: 1em;
}

[data-type="fountain"] > .view-content .cm-editor .screenplay-transition {
    font-style: italic;
	font-size: 0.85em;
	color: var(--cerulean)
}

[data-type="fountain"] > .view-content .cm-editor .screenplay-scene-heading {
	color: var(--text-accent);
    font-weight: bold;
	font-size: 1.25em;
	margin-top: 2em;
	margin-bottom: 1.5em;
}
.screenplay-scene-number {
	opacity: 0.8;
	font-size: small;
}

.screenplay-page-break {
	margin: 6em 0;
	text-align: center;
	opacity: 0.25;
	font-style: italic;
}

/* [data-type="fountain"] > .view-content .cm-editor>br {
    clear: both;
} */

/* [data-type="fountain"] > .view-content .cm-editor>.screenplay-action {
    margin-top: 1em;
} */

[data-type="fountain"] > .view-content .cm-editor .screenplay-lyric {
	font-style: italic;
	opacity: 0.6;
}

/* Dialogue */

[data-type="fountain"] > .view-content .cm-editor .screenplay-character {
    padding-left: 30%;
    color: var(--yellow) !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.screenplay-centered {
	text-align: center;
}

[data-type="fountain"] > .view-content .cm-editor .screenplay-dialogue {
    text-align: left;
    margin-left: 10%;
}

.screenplay-note {
	font-size: 10px !important;
	color: var(--text-title-h5)
}

.screenplay-marker.underline {
    text-decoration: underline;
}
.screenplay-marker.italic {
	font-style: italic;
}
.screenplay-marker.bold {
	font-weight: bold !important;
}
.screenplay-marker.character-ext, .screenplay-parenthetical, .screenplay-dialogue.screenplay-parenthetical.cm-line {
	    padding-left: 20% !important;
}


/* Headers */

[data-type="fountain"] > .view-content .cm-editor>h3 {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold !important;
    color: var(--text-accent) !important;
}