/* Fountain Code Mirror */

.fountain-source-view>.CodeMirror-wrap>.CodeMirror-scroll {
    padding: 20px !important;
    position: unset;
}

[data-type="fountain"] .view-content .cm-editor {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    overflow-y: hidden;
    display: block;
    text-align: left;
		padding: 0pt 0 0 0pt;
    position: static;
}

[data-type="fountain"] .cm-scroller,
[data-type="fountain"] .cm-line,
[data-type="fountain"] .view-content .cm-editor {
	font-size: 12pt;
	font-family: 'Courier Final Draft', 'Courier Screenplay', 'Courier Prime', 'Courier', monospace;
}
[data-type="fountain"] .view-content .cm-editor::selection, 
[data-type="fountain"] .cm-line::selection {
	background-color: var(--text-highlight-bg) !important;
}

.view-content .cm-editor .screenplay-header:not(.screenplay-scene-heading) {
	text-align: center;
	font-weight: 600 !important;
	font-size: 1.625em;
}

.view-content .cm-editor .screenplay-footer {
    margin-top: 1em;
}

 .view-content .cm-editor .screenplay-transition:not(.screenplay-note) {
  font-style: italic;
	color: var(--color-orange);
	font-size: 1.2em;
}

 .view-content .cm-editor .screenplay-scene-heading {
	color: var(--text-accent);
  font-weight: bold;
	font-size: 1.5em;
}
.cm-editor .cm-line > .screenplay-scene-number {
	opacity: 0.6;
	font-size: small;
}

.screenplay-page-break {
	padding: 6em 0 !important;
	text-align: center;
	opacity: 0.25;
	font-style: italic;
}

.view-content .cm-editor .screenplay-lyric:not(.screenplay-note) {
	font-style: italic;
	color: var(--color-purple);
	opacity: 0.75;
}
.view-content .cm-editor .screenplay-synopsis:not(.screenplay-note) {
	font-size: 1em;
	color: var(--color-pink);
}
/* Dialogue */

 .view-content .cm-editor .screenplay-character {
    padding-left: 20%;
    color: var(--color-yellow) !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.screenplay-centered {
	text-align: center;
}

.screenplay-dialogue.cm-line:not(.screenplay-parenthetical, .screenplay-character, .screenplay-note) {
	margin-left: 10%;
	text-align: left;
}

.screenplay-note, .screenplay-marker.note {
	font-size: 13px !important;
	color: var(--text-title-h5, var(--color-green));
}

.screenplay-marker.character-ext {
	font-size: 0.8em;
}

.screenplay-marker.underline {
  text-decoration: underline;
	margin-left: 0 !Important;
	text-underline-offset: 0.1875em;
}
.screenplay-marker.italic {
	margin-left: 0 !Important;
	font-style: italic;
}
.screenplay-marker.bold {
	margin-left: 0 !Important;
	font-weight: bold !important;
}
.screenplay-parenthetical, .screenplay-parenthetical.cm-line {
	 padding-left: 15% !important;
}

.screenplay-bone-yard {
	font-size: 0.6em;
	color: var(--text-muted);
	opacity: 0.5;
}

.screenplay-foldwidget {
	height: auto;
	width: auto;
	display: inline-block;
	cursor: pointer;
	color: var(--color-red);
	opacity: 0.55;
	margin-left: 15px;
	position: relative;
	top: 7px;
}
.screenplay-foldwidget > svg {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	top: -5px;
}
.screenplay-fold-gutter-sym {
	display: block;
	opacity: 100% !important;
	color: var(--text-normal);
	position: relative;
	top: 3px;
}
/* Headers */

 .view-content .cm-editor>h3 {
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold !important;
    color: var(--text-accent) !important;
}